<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#/">Hemoblas</a>
		</div>    		
	</div>
</nav>

<div class="col-md-6 col-md-offset-3">
   
    <h2>Dados de Acesso</h2>
    
    <br />
    
    <!-- MENSAGENS --> 
    <div ng-show="autenticacaoInvalida">
	     <div class="alert alert-danger">
	     	<strong>CPF ou Senha incorretos. Tente novamente.</strong>
	    </div>
	</div>
    
    <div ng-show="loginForm.cpf.$touched" ng-messages="loginForm.cpf.$error">
        <div ng-message="required" class="alert alert-danger">
            Por favor, preencha o campo CPF.
        </div>
        <div ng-message="minlength || maxlength" class="alert alert-danger">
            O campo CPF deve ter 14 caracteres.
        </div>
    </div>
    
     <div ng-show="loginForm.senha.$touched" ng-messages="loginForm.senha.$error">
        <div ng-message="required" class="alert alert-danger">
            Por favor, preencha o campo Senha.
        </div>
        <div ng-message="minlength || maxlength" class="alert alert-danger">
            O campo Senha deve ter no mínimo 6 e no máximo 12 caracteres.  
        </div>
    </div> 
    
    
    <!-- FORMULÁRIO -->
    <form name="loginForm">
        
        <div class="form-group" ng-class="{'has-error': loginForm.cpf.$invalid && loginForm.cpf.$touched}">
			<label class="control-label">CPF</label> 
			<input class="form-control" type="text" 
				id="cpf" name="cpf" placeholder="CPF" 
				ng-model="dadosLogin.cpf" ng-required="true" ng-minlength="14" ng-maxlength="14" />
		</div>	
          
		<div class="form-group" ng-class="{'has-error': loginForm.senha.$invalid && loginForm.senha.$touched}">
			<label class="control-label">Senha</label> 
			<input class="form-control" type="password" 
				id="senha" name="senha" placeholder="Senha" 
				ng-model="dadosLogin.senha" ng-required="true" ng-minlength="6" ng-maxlength="12" />
		</div>
	        
        <div class="form-actions">            
            <button class="btn btn-primary" ng-click="login(dadosLogin)" ng-disabled="loginForm.$invalid || autenticando">
	        	Fazer login
	    	</button>            
           
           	<img ng-if="autenticando" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
          	
            <a href="#cadastroDoador" class="btn btn-link">Registrar</a>
        </div>
        
    </form>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		
		$('#cpf').mask('999.999.999-99');		
		
	});
</script>